body {
  color: #444;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
footer {
  padding: 3%;
}

header nav {
  background-color: #000;
  margin-bottom: 1%;
}
/* calling the ul classname .menu */
header nav .menu {
  margin: 0;
  padding: 1%;
}
header nav .menu li {
  display: inline;
  margin-right: 1em;
}
header nav .menu a {
  color: white;
}
header nav .menu a:hover {
  color: cyan;
}
.hero {
  text-align: center;
  padding: 5% 0; /* top/bottom is the 5% and right/left is the 0 */
  color: white;
  height: 60vh;
  background-image: url(https://i.picsum.photos/id/1029/4887/2759.jpg?hmac=uMSExsgG8_PWwP9he9Y0LQ4bFDLlij7voa9lU9KMXDE);
  background-repeat: no-repeat;
  background-size: cover;
  backgroundposition: center;
}